{% extends "base_bare.html.twig" %}

{% set label_class = {'PENDING_FOR_CONFIRMATION': 'warning', 'PENDING_FOR_AVAILABILITY': 'warning', 'CANCELLED': 'danger', 'CONFIRMED': 'success'} %}

{% block title %}
    {% trans %}booking.title{% endtrans %}: {{ hostel }}
{% endblock %}

{% block headingTitle %}
    {% trans %}booking.title{% endtrans %}
{% endblock %}

{% block headingSubtitle %}
    {{ hostel.hostelName }}
{% endblock %}

{% block content %}
    <section id="booking-page">
        {% if not_access is defined and not_access == true %}
            {% include 'booking/request_login.html.twig' %}
        {% else %}
            <div class="container">
                <h2>{{ hostel.hostelName }}</h2>
                <p>
                    <span class="label label-{{ label_class[booking.status] }}">
                        {{ booking.status|title }}
                    </span>
                </p>
                <p>
                    {{ booking.startDate|date('d M Y') }} - {{ booking.endDate|date('d M Y') }}
                </p>
                <p>
                {% if booking.status == 'PENDING_FOR_CONFIRMATION' %}
                    <a class="btn btn-common">Confirm</a>
                {% endif %}
                {% if booking.status == 'PENDING_FOR_AVAILABILITY' and is_granted('admin', booking) %}
                    <a class="btn btn-raised">Confirm availability</a>
                {% endif %}
                    <a class="btn btn-common">Cancel this reservation</a>
                </p>
            </div>
        {% endif %}
    </section>
    <section class="mea-blog-post-page">
        <div class="container">
            <div class="row">
                <!-- Single Blog Post -->
                <div class="single-blog-page col-md-8">
                    <div class="users-comment-section mt-20">
                        <div class="comment-box clearfix">
                            <div class="form-group label-floating col-md-12 is-empty">
                                <label class="sr-only" for="usermessage">Message</label>
                                <textarea placeholder="Type here message" id="usermessage" rows="5" required="" class="form-control"></textarea>
                            </div>
                            <a href="javascript:void(0)" id="post_message_btn" class="mt-30 btn btn-common"><i class="material-icons"></i>{{ 'button.send'|trans }}<div class="ripple-container"></div></a>
                        </div>

                        <ul>
                            {% for message in messages %}
                                <li class="media">
                                    <div class="media-left">
                                        {% set image = message.user.profilePicture %}
                                        {% if(image is empty) %}
                                            <i class="material-icons icon-round md-24" style="margin-right: 0">person</i>
                                        {% else %}
                                            <img class="img-circle img-raised" src="{{ vich_uploader_asset(message.user, 'imageFile')|imagine_filter('comment_thumb') }}" alt="">
                                        {% endif %}
                                    </div>
                                    <div class="media-body">
                                        <a href="#"><h3>{{ message.user.fullName }}</h3></a>
                                        <p>
                                            {{ message.message }}
                                        </p>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{#{% block javascripts %}#}
    {#{{ parent() }}#}
    {#<script>#}
        {#$(document).ready(function() {#}
            {#$("#post_message_btn").on("click", function() {#}
                {#var userMessage = $("#usermessage");#}
                {#var text = userMessage.val();#}
                {#userMessage.val("");#}
            {#});#}
        {#});#}
    {#</script>#}
{#{% endblock %}#}