{% extends "base_bare.html.twig" %}
{% import 'booking/booking_labels.html.twig' as util %}

{% block title %}
    {% trans %}booking.title{% endtrans %}: {{ hostel }}
{% endblock %}

{% block headingTitle %}
    {% trans %}booking.title{% endtrans %}
{% endblock %}

{% block headingSubtitle %}
    {{ hostel.hostelName }}
{% endblock %}

{% block content %}
    <section id="booking-page">
        {% if not_access is defined and not_access == true %}
            {% include 'booking/request_login.html.twig' %}
        {% else %}
            <div class="container">
                <p>
                    <span class="label {{ util.label_class(booking.status) }}">
                        {{ booking.status|trans }}
                    </span>
                </p>
                <p>
                    {{ booking.startDate|date('d M Y') }} - {{ booking.endDate|date('d M Y') }}
                </p>
                <p>
                {% if booking.status == 'PENDING_FOR_CONFIRMATION' %}
                    <a href="{{ path('booking_confirm', {'id': booking.id}) }}" class="btn btn-raised btn-success">Confirm</a>
                {% elseif booking.status == 'PENDING_FOR_AVAILABILITY' and is_granted('admin', booking) %}
                    <a href="{{ path('booking_confirm_availability', {'id': booking.id}) }}" class="btn btn-raised">Confirm availability</a>
                {% endif %}
                {% if booking.status != 'CANCELLED' %}
                    <a href="{{ path('booking_cancel', {'id': booking.id}) }}" class="btn btn-common">Cancel this reservation</a>
                {% endif %}
                </p>
            </div>
        {% endif %}
    </section>
    <section class="mea-blog-post-page">
        <div class="container">
            <div class="row">
                <!-- Single Blog Post -->
                <div class="single-blog-page col-md-8">
                    <div class="users-comment-section mt-20">
                        {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': 'booking-' ~ booking.id} %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}