{% extends "base.html.twig" %}

{% block title %}
    {% trans %}booking.title{% endtrans %}: {{ hostel }}
{% endblock %}

{% block headingTitle %}
    {% trans %}booking.title{% endtrans %}
{% endblock %}
{% block headingSubtitle %}
    {{ hostel.hostelName }}
{% endblock %}
{% block breadcrumbs %}
    <li><a href="{{ path('homepage') }}">{% trans %}menu.homepage{% endtrans %}</a></li>
    <li><a href="{{ path('hostels') }}">{% trans %}menu.hostels{% endtrans %}</a></li>
    <li><a href="{{ path('hostelsByDestination', {'slug' : hostel.location.slug }) }}">{{ hostel.location.name }}</a></li>
    <li><a href="{{ path('hostel_view', {'slug': hostel.slug}) }}">{{ hostel }}</a></li>
    <li class="active">{% trans %}menu.booking{% endtrans %}</li>
{% endblock %}

{% block content %}
    <section id="booking-page">
        <div class="row">
            {% if not_access is defined %}
            <div id="login-div" class="col-lg-6 col-md-12 col-sm-12">
                <div id="success-message" class="status alert alert-info">
                    You are not logged-in. You need to log-in in order to make a reservation.
                </div>
                <form method="post" action="{{ path('fos_user_security_login') }}">
                    <div class="form-group">
                        <button type="submit" class="btn btn-raised btn-success btn-lg">{% trans %}Log-in{% endtrans %}</button>
                    </div>
                </form>
                <form method="post" action="{{ path('fos_user_registration_register') }}">
                    <div class="form-group">
                        <button type="submit" class="btn btn-raised btn-primary btn-lg">{% trans %}Sign up{% endtrans %}</button>
                    </div>
                </form>
            </div>
            {% else %}
            <form method="post" action="{{ path('hostel_view', {'slug': hostel.slug}) }}">
                <div id="success-div" class="col-lg-6 col-md-12 col-sm-12" style="display: none">
                    <div id="success-message" class="status alert alert-success"></div>
                        <div class="form-group">
                            <button id="success-btn" class="btn btn-success btn-raised btn-lg">{% trans %}button.go.back{% endtrans %}</button>
                        </div>
                </div>
            </form>
            {{ form_start(form, {'attr': {'class': 'booking-form' }}) }}
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="hidden" style="display: none">
                    {{ form_widget(form.hostel) }}
                    {{ form_widget(form.user) }}
                    {{ form_widget(form.startDate) }}
                    {{ form_widget(form.endDate) }}
                </div>
                <div class="form-group">
                    <label class="control-label" for="date_range"><i class="icon icon-calendar"></i> <span id="nights">{{ 'booking.form.dateRange'|trans }}</span></label>
                    <input type="text" id="date_range" required="required" maxlength="255" class="form-control"/>
                </div>
                <div class="form-group">
                    <label class="control-label" for="booking_numberOfPersons"><i class="icon icon-male"></i> {{ 'booking.form.people'|trans }}</label>
                    {{ form_widget(form.numberOfPersons) }}
                </div>
                <div class="form-group">
                    <div id="booking_room" class="form-group">
                        {% for key, value in form.rooms %}
                            {% set room = form.rooms.vars.choices[key].data %}
                            {{
                                form_widget(value, {
                                    'label': "#{room.name}: #{('room.type.' ~ room.type|lower)|trans},
                                    #{'room.capacity.label'|transchoice(room.capacity, { '%capacity%': room.capacity })}
                                    ($#{room.priceInLow}/$#{room.priceInHigh})"
                                })
                            }}
                        {% endfor %}
                    </div>
                    </ul>
                </div>
            </div><!--/.col-sm-8-->
            <div class="col-lg-6 col-md-6 col-sm-12">
                {{ form_row(form.comments, {'attr': {'rows': '12' }}) }}
            </div><!--/.col-sm-4-->
            <div class="col-sm-12">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-raised btn-lg">{% trans %}button.send{% endtrans %}</button>
                </div>
            </div>
            {{ form_end(form) }}
            {% endif %}
        </div>
    </section><!--/#contact-page-->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#bookingMenu').addClass('active');

            $('#date_range').daterangepicker({
                autoUpdateInput: false,
                autoApply: true
            }, function(start, end, label) {
                $('#booking_startDate').val(start.format('YYYY-MM-DD'));
                $('#booking_endDate').val(end.format('YYYY-MM-DD'));
                var nights = end.diff(start, 'days');
                var locale = "{{ app.request.attributes.get('_locale') }}";
                var text = translateInfoNights(locale, nights);
                $('#nights').text(text);
            });

            $('#date_range').on('apply.daterangepicker', function(ev, picker) {
                $(this).val(picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY'));
            });
        });
        
    </script>
{% endblock %}