{% extends "base_bare.html.twig" %}

{% set locale =  app.request.attributes.get('_locale') %}

{% block title %}
    {% trans %}booking.title{% endtrans %}: {{ hostel }}
{% endblock %}

{% block headingTitle %}
    {% trans %}booking.title{% endtrans %}
{% endblock %}

{% block headingSubtitle %}
    {{ hostel.hostelName }}
{% endblock %}

{% block content %}
    <section id="booking-page">
        <div class="row">
            {% if not_access is defined and not_access == true %}
                {% include 'booking/request_login.html.twig' %}
            {% else %}
                <section id="success-section" class="section-padding" style="display: none">
                    <div class="container">
                        <form method="post" action="{{ path('hostel_view', {'slug': hostel.slug}) }}">
                            <div id="success-div" class="col-lg-6 col-md-12 col-sm-12">
                                <div id="success-message" class="status alert alert-success"></div>
                                <div class="form-group">
                                    <button id="success-btn" class="btn btn-success btn-raised btn-lg">
                                        {% trans %}button.go.back{% endtrans %}
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
                <div class="container">
                    {{ form_start(form, {'attr': {'class': 'booking-form' }}) }}
                    <div class="hidden" style="display: none">
                        {{ form_widget(form.hostel) }}
                        {{ form_widget(form.user) }}
                        {{ form_widget(form.startDate) }}
                        {{ form_widget(form.endDate) }}
                        <input id="booking_date">
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-sm-6">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    {% for room in hostel.rooms %}
                                        <div class="swiper-slide hostel-image single-team-widget">
                                            <figure data-order="{{ loop.index - 1 }}" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                                {% if room.images is not empty %}
                                                    <img src="{{ vich_uploader_asset(room.images|first, 'imageFile')|imagine_filter('app_thumb') }}" itemprop="thumbnail" alt="{{ room.name }}" />
                                                {% endif %}

                                                <figcaption class="team-member-info" itemprop="caption description">
                                                    <h5 class="image-caption">{{ room.name }}</h5>
                                                    <p>
                                                        {{ ('room.type.' ~ room.type|lower)|trans }}, {{ 'room.capacity.label'|transchoice(room.capacity, { '%capacity%': room.capacity }) }}
                                                        <br>
                                                        {% set single_beds_count = room.singleBedsAmount %}
                                                        {% set double_beds_count = room.doubleBedsAmount %}
                                                        {% set concat_phrases = single_beds_count != 0 and double_beds_count != 0 %}
                                                        {% set singleBeds = 'room.single_beds.label'|transchoice(single_beds_count, {'%single_beds_count%': single_beds_count}) %}
                                                        {% set doubleBeds = 'room.double_beds.label'|transchoice(double_beds_count, {'%double_beds_count%': double_beds_count}) %}
                                                        {{ 'room.beds.label'|transchoice(concat_phrases, { '%single_beds%': singleBeds, '%double_beds%': doubleBeds}) }}
                                                        <br>
                                                    </p>
                                                </figcaption>
                                            </figure>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="swiper-pagination"></div>
                                <div class="swiper-button-next swiper-button-black"></div>
                                <div class="swiper-button-prev swiper-button-black"></div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            {#<h3>Date range</h3>#}
                            <div id="check_in_container" class="form-group">

                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="control-label" for="booking_numberOfPersons">
                                    <i class="material-icons">people</i> {{ 'booking.form.people'|trans }}
                                </label>
                                {{ form_widget(form.numberOfPersons) }}
                            </div>
                            {% if form.rooms is defined %}
                                <div class="form-group">
                                    <div id="booking_room" class="form-group">
                                        {% for key, value in form.rooms %}
                                            {% set room = form.rooms.vars.choices[key].data %}
                                            {{ form_widget(value, { 'label': "#{room.name}" }) }}
                                        {% endfor %}
                                    </div>
                                    </ul>
                                </div>
                            {% endif %}
                            <span style="padding-bottom: 10px; border-bottom: 0.3em solid #e53935">
                                <label style="font-size: xx-large;font-weight: 300;border-bottom-color: #7c1212">125 CUC</label>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <button type="submit" class="btn btn-common btn-lg"><i class="material-icons">done</i> {% trans %}button.send{% endtrans %}</button>
                            </div>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            {% endif %}
        </div>
    </section><!--/#contact-page-->
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {
            var locale = "{{ app.request.attributes.get('_locale') }}";

            $("#date_range").attr("disabled", "true");
            var availability = [];
            function getAvailability() {
                return $.getJSON("/api/{{ locale }}/hostels/{{ hostel.id }}/availability", null, function(json) {
                    availability = json;
                });
            }

            $.when(getAvailability()).done(function() {
                $('#booking_startDate').dateRangePicker({
                    inline:true,
                    container: '#check_in_container',
                    selectForward: true,
                    alwaysOpen:true,
                    startDate: new Date(),
                    endDate: moment().add(1, 'years').toDate(),
                    beforeShowDay: function(t)
                    {
                        var available = availability[Math.ceil(moment(t).diff(moment(), "days", true))];
                        var _class = '';
                        var _tooltip = available ? '' : 'sold out';
                        return [available,_class,_tooltip];
                    },
                    getValue: function()
                    {
                        if ($('#booking_startDate').val() && $('#booking_endDate').val() )
                            return $('#booking_startDate').val() + ' to ' + $('#booking_endDate').val();
                        else
                            return '';
                    },
                    setValue: function(s,s1,s2)
                    {
                        $('#booking_startDate').val(s1);
                        $('#booking_endDate').val(s2);
                    }
                }).bind('datepicker-change',function(event,obj)
                {
                    $("#booking_room label").attr("style", "text-decoration: line-through");
                    $("#booking_room input").attr("disabled", "disabled");
                    $.getJSON("/api/{{ locale }}/hostels/{{ hostel.id }}/available_rooms/"
                            + moment(obj.date1).format('YYYY-MM-DD') + "/"
                            + moment(obj.date2).format('YYYY-MM-DD'), null, function (json) {
                        for (var id in json) {
                            $("#booking_rooms_" + json[id]).parent("label").removeAttr("style");
                            $("#booking_rooms_" + json[id]).removeAttr("disabled");
                        }
                        $(":disabled:checked").removeAttr("checked");
                    });
                });
            });
        });

    </script>
    <script>
        var swiper = new Swiper('.swiper-container', {
            slidesPerView: 1,
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .swiper-button-prev,
        .swiper-button-next {
            top: 67%;
            width: 7px;
            height: 22px;
            margin-top: -21px;
            -moz-background-size: 7px 22px;
            -webkit-background-size: 7px 22px;
            background-size: 7px 22px;
        }
        .swiper-button-prev {
            left: 2px;
        }
    </style>
{% endblock %}