{% extends "base.html.twig" %}

{% block title %}
    {{ destination.name }}
{% endblock %}

{% block headingTitle %}{{ destination.name }}{% endblock %}

{% block content %}
    {% if destination.description is not empty %}
    <section id="destination-page" class="mea-blog-post-page section-padding">
        <div class="container">
            <div class="row">
                <div class="single-blog-page col-md-12">
                    <article class="single-post">
                        {{ destination.description|raw }}
                    </article>
                </div>
            </div>
        </div>
    </section><!--/#destination-page-->
    {% endif %}
    <div class="container jscroll">
        {{ render(controller('AppBundle:Hostel:row', {'location': destination})) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var swiper = new Swiper('.swiper-container', {
            slidesPerView: 'auto',
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
            freeMode: true,
            spaceBetween: 10
        });
    </script>
    <script>
        $(document).ready(function() {
            $('.jscroll').jscroll({
                padding: 400
            });
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .page-title-section {
            position: relative;
            background: url("{{ vich_uploader_asset(destination.frontImage, 'imageFile')|imagine_filter('app_slider') }}") no-repeat scroll center center;
            background-size: cover;
        }
    </style>
{% endblock %}