{% extends "base.html.twig" %}

{% block title %}
    {{ destination.name }}
{% endblock %}

{% block headingTitle %}{{ destination.name }}{% endblock %}

{% block content %}
    {% if destination.description is not empty %}
    <section id="destination-page" class="mea-blog-post-page section-padding">
        <div class="container">
            <div class="row">
                <div class="single-blog-page col-md-12">
                    <article class="single-post">
                        {{ destination.description|raw }}
                    </article>
                </div>
            </div>
        </div>
    </section><!--/#destination-page-->
    {% endif %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% include 'hostel/slider.html.twig' %}
            </div>
        </div>
    </div>
    {#<div class="container" id="wrapper">#}
        {#<div id="scroller">#}
            {#{% include 'hostel/hostels_row.html.twig' %}#}
        {#</div>#}
    {#</div>#}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var swiper = new Swiper('.swiper-container', {
            slidesPerView: 'auto',
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
            freeMode: true,
            spaceBetween: 10
        });
    </script>
    {#<script>#}
        {#$(document).ready(function() {#}
            {#var myScroll;#}
            {#myScroll = new IScroll('#wrapper', {#}
                {#mouseWheel: true,#}
                {#infiniteElements: '#scroller .row',#}
                {#//infiniteLimit: 2000,#}
                {#dataset: requestData,#}
                {#dataFiller: updateContent,#}
                {#cacheSize: 1000#}
            {#});#}

            {#function requestData (start, count) {#}
{#//                $.get("/en/hostels_row", function(data) {#}
{#//                    myScroll.updateCache(start, data);#}
{#//                });#}
            {#}#}

            {#function updateContent (el, data) {#}
                {#el.innerHTML = data;#}
            {#}#}

            {#document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false);#}
        {#});#}
    {#</script>#}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .page-title-section {
            position: relative;
            background: url("{{ vich_uploader_asset(destination.frontImage, 'imageFile')|imagine_filter('app_slider') }}") no-repeat scroll center center;
            background-size: cover;
        }
    </style>
{% endblock %}