<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ asset('favicon.ico') }}">

    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}

        <!-- Essential CSS Files -->
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/material.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/ripples.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/okeynav.css') }}">
        <link rel="stylesheet" href="{{ asset('css/owl.carousel.css') }}">
        <link rel="stylesheet" href="{{ asset('css/animate.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">

        <!-- Color Presets -->
        {#<link rel="stylesheet" href="{{ asset('css/colors/pink.css') }}">#}
        {#<link rel="stylesheet" href="{{ asset('css/colors/purple.css') }}">#}
        {#<link rel="stylesheet" href="{{ asset('css/colors/deep-purple.css') }}">#}
        {#<link rel="stylesheet" href="{{ asset('css/colors/indigo.css') }}">#}
        {#<link rel="stylesheet" href="{{ asset('css/colors/blue.css') }}">#}
        {#<link rel="stylesheet" href="{{ asset('css/colors/yellow.css') }}">#}
        {#<link rel="stylesheet" href="{{ asset('css/colors/green.css') }}">#}
        <link rel="stylesheet" href="{{ asset('css/colors/red.css') }}">

        <link href="{{ asset('css/responsive.css') }}" rel="stylesheet">

        <!-- Icon Family -->
        <link href="{{ asset('css/material-icons.css') }}" rel="stylesheet">
        <link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet">

        {#<link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet">#}
        {#<link href="{{ asset('css/daterangepicker.css') }}" rel="stylesheet">#}
        {#<link href="{{ asset('css/bootstrap-theme.css') }}" rel="stylesheet">#}
        {#<link href="{{ asset('css/bootstrap-material-design.min.css') }}" rel="stylesheet">#}
        {#<link href="{{ asset('css/ripples.min.css') }}" rel="stylesheet">#}

        {#<link href="{{ asset('css/material-icons.css') }}" rel="stylesheet">#}
        {#<link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet">#}
        {#<link href="{{ asset('css/photoswipe.css') }}" rel="stylesheet">#}
        {#<link href="{{ asset('css/photoswipe-skin/default-skin.css') }}" rel="stylesheet">#}
        {#<link href="{{ asset('css/swiper.min.css') }}" rel="stylesheet">#}

        {#<!-- Custom styles for this template -->#}
        {#<link href="{{ asset('css/main.css') }}" rel="stylesheet">#}

        {#<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->#}
        {#<!--[if lt IE 9]>#}
        {#<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>#}
        {#<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>#}
        {#<![endif]-->#}
    {% endblock %}

</head>

<body>
    <header id="header" class="navbar navbar-default affix-top" data-spy="affix" data-offset-top="400">
        <div class="container">
            <a alt="Caney" class="site-logo" href="{{ path('homepage') }}">
                <h2>Caney</h2>
            </a>
            <nav role="navigation" id="nav-main" class="okayNav">
                {{ knp_menu_render('AppBundle:Builder:mainMenu', {
                    'currentClass': 'active',
                    'lastClass': 'sub-menu',
                    'firstClass': 'sub-menu',
                    'branchClass': 'sub-menu'
                }) }}
            </nav>
        </div>
    </header>

{% block body %}
    {% block bodyPreamble %}{% endblock %}
            {% block heading %}
                 <section class="page-title-section section-padding">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="title-center">
                                    <div class="title-middle">
                                        <h2 class="page-tagline">{% block headingSubtitle %}{% endblock %}</h2>
                                        <h1 class="page-title">{% block headingTitle %}{% endblock %}</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>                
            {% endblock %}

            {% block content %}
            {% endblock %}
    {% block footer %}
        {% include "footer.html.twig" %}
    {% endblock %}
{% endblock %}

{% block ui_elements %}
        <!-- Back To Top -->
        <a href="#" class="back-to-top">
          <div class="ripple-container"></div>
          <i class="fa fa-angle-up">
          </i>
        </a>

        <!-- Preloader -->
        <div id="loader">
          <div class="square-spin">
            <img src="{{ asset('images/Preloader.gif') }}" alt="Preloader">
          </div>
        </div>
{% endblock %}

{% block javascripts %}
    <!-- JS Files -->
    <!-- jQuery Load -->
    <script src="{{ asset('js/jquery-min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/jquery.okayNav-min.js') }}"></script>
    <script src="{{ asset('js/jquery.mixitup.min.js') }}"></script>
    <script src="{{ asset('js/jquery.inview.js') }}"></script>
    <script src="{{ asset('js/jquery.counterup.min.js') }}"></script>
    <script src="{{ asset('js/scroll-top.js') }}"></script>
    <script src="{{ asset('js/material.min.js') }}"></script>
    <script src="{{ asset('js/ripples.min.js') }}"></script>
    <script src="{{ asset('js/owl.carousel.min.js') }}"></script>

    <script src="{{ asset('js/wow.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>

    {#<!-- Bootstrap core JavaScript#}
    {#================================================== -->#}
    {#<!-- Placed at the end of the document so the pages load faster -->#}
    {#<script src="{{ asset('js/jquery-2.1.1.js') }}"></script>#}
    {#<script src="{{ asset('js/bootstrap.js') }}"></script>#}
    {#<script src="{{ asset('js/moment.min.js') }}"></script>#}
    {#<script src="{{ asset('js/daterangepicker.js') }}"></script>#}
    {#<script src="{{ asset('js/material.min.js') }}"></script>#}
    {#<script src="{{ asset('js/ripples.min.js') }}"></script>#}
    {#<script>#}
        {#$.material.init();#}
    {#</script>#}
    {#<script src="{{ asset('js/material.min.js') }}"></script>#}

    {#<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->#}
    {#<script src="{{ asset('js/nouislider.min.js') }}" type="text/javascript"></script>#}
    {#<!--  Plugin for the Datepicker, full documentation here: http://www.eyecon.ro/bootstrap-datepicker/ -->#}
    {#<script src="{{ asset('js/bootstrap-datepicker.js') }}" type="text/javascript"></script>#}
    {#<!-- Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc -->#}
    {#<script src="{{ asset('js/material-kit.js') }}" type="text/javascript"></script>#}

    {#<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->#}
    {#<script src="{{ asset('js/ie10-viewport-bug-workaround.js') }}"></script>#}
    {#<script src="{{ asset('js/photoswipe.min.js') }}"></script>#}
    {#<script src="{{ asset('js/photoswipe-ui-default.min.js') }}"></script>#}
    {#<script src="{{ asset('js/swiper.jquery.min.js') }}"></script>#}
    {#<script src="{{ asset('js/main.js') }}"></script>#}
    {#<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>#}
    {#<script src="{{ asset('js/fos_js_routes.js') }}"></script>#}
{% endblock %}
</body>
</html>