<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ asset('favicon.ico') }}">

    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}

        <!-- Essential CSS Files -->
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/daterangepicker.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/pikaday.css') }}">
        <link rel="stylesheet" href="{{ asset('css/material.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/ripples.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/okeynav.css') }}">
        <link rel="stylesheet" href="{{ asset('css/owl.carousel.css') }}">
        <link rel="stylesheet" href="{{ asset('css/animate.css') }}">

        <link rel="stylesheet" href="{{ asset('css/photoswipe.css') }}">
        <link rel="stylesheet" href="{{ asset('css/photoswipe-skin/default-skin.css') }}">
        <link rel="stylesheet" href="{{ asset('css/swiper.min.css') }}">

        {#<link rel="stylesheet" href="{{ asset('css/comments.css') }}" type="text/css" />#}
        <link rel="stylesheet" href="{{ asset('css/jquery-comments.css') }}" type="text/css" />

        <link rel="stylesheet" href="{{ asset('css/style.css') }}">

        <!-- Color Presets -->
        <link rel="stylesheet" href="{{ asset('css/colors/red.css') }}">

        <link href="{{ asset('css/responsive.css') }}" rel="stylesheet">

        <!-- Icon Family -->
        <link href="{{ asset('css/material-icons.css') }}" rel="stylesheet">
        <link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/map-icons.min.css') }}" rel="stylesheet">
        
        <link href="{{ asset('css/roboto.css') }}" rel="stylesheet">
    {% endblock %}

</head>

<body>
    <header id="header" class="navbar navbar-default affix-top" data-spy="affix" data-offset-top="400">
        <div class="container">
            {% include 'navbar.html.twig' %}
        </div>
    </header>

{% block body %}
    {% block bodyPreamble %}{% endblock %}
            {% block heading %}
                 <section class="page-title-section section-padding">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="title-center">
                                    <div class="title-middle">
                                        <h2 class="page-tagline">{% block headingSubtitle %}{% endblock %}</h2>
                                        <h1 class="page-title">{% block headingTitle %}{% endblock %}</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>                
            {% endblock %}

            {% block content %}
            {% endblock %}
    {% block footer %}
        {% include "footer.html.twig" %}
    {% endblock %}
{% endblock %}

{% block ui_elements %}
        <!-- Back To Top -->
        <a href="#" class="back-to-top">
          <div class="ripple-container"></div>
          <i class="fa fa-angle-up">
          </i>
        </a>

        <!-- Preloader -->
        <div id="loader">
          <div class="square-spin">
            <img src="{{ asset('images/Preloader.gif') }}" alt="Preloader">
          </div>
        </div>
{% endblock %}

{% block javascripts %}
    <!-- JS Files -->
    <!-- jQuery Load -->
    <script src="{{ asset('js/jquery-min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/jquery.okayNav-min.js') }}"></script>
    <script src="{{ asset('js/jquery.mixitup.min.js') }}"></script>
    <script src="{{ asset('js/jquery.inview.js') }}"></script>
    <script src="{{ asset('js/jquery.counterup.min.js') }}"></script>
    <script src="{{ asset('js/scroll-top.js') }}"></script>
    <script src="{{ asset('js/jquery.jscroll.min.js') }}"></script>
    <script src="{{ asset('js/material.min.js') }}"></script>
    <script src="{{ asset('js/moment.min.js') }}"></script>
    <script src="{{ asset('js/jquery.daterangepicker.min.js') }}"></script>
    <script src="{{ asset('js/ripples.min.js') }}"></script>
    <script src="{{ asset('js/owl.carousel.min.js') }}"></script>

    <script src="{{ asset('js/wow.js') }}"></script>

    <script src="{{ asset('js/photoswipe.min.js') }}"></script>
    <script src="{{ asset('js/photoswipe-ui-default.min.js') }}"></script>
    <script src="{{ asset('js/swiper.jquery.min.js') }}"></script>
    <script src="{{ asset('js/typeahead.bundle.min.js') }}"></script>
    <script src="{{ asset('js/polyglot.min.js') }}"></script>
    <script src="{{ asset('js/jquery-comments.min.js') }}"></script>
    
    <script src="{{ asset('js/main.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ asset('js/fos_js_routes.js') }}"></script>
{% endblock %}
</body>
</html>