<!-- Footer Section -->
<footer class="mea-footer-section">
    {#<!-- Footer Widget Container -->#}
    {#<div class="footer-widget-container">#}
        {#<div class="container">#}
            {#<div class="row">#}
                {#<!-- Single Footer Widget -->#}
                {#<div class="col-md-3 single-footer-widget wow animated fadeInUp" data-wow-delay=".2s">#}
                    {#<h3 class="footer-title">About MEA</h3>#}
                    {#<p>Fresh, innovative, creative, minimalist ... What's your style? You probably won't have a better#}
                        {#chance to show off all your potential if it's not by designing a website for your own agency or#}
                        {#web studio. It's time to push all those ideas and concepts forward.</p>#}
                {#</div>#}
                {#<!-- Single Footer Widget -->#}
                {#<div class="col-md-3 single-footer-widget recent-news-widget wow animated fadeInUp"#}
                     {#data-wow-delay=".3s">#}
                    {#<h3 class="footer-title">Recent News</h3>#}
                    {#<ul>#}
                        {#<li><a href="#">21 things that won’t help you become a better designer</a></li>#}
                        {#<li><a href="#">User Experience & Luxury Fashion Brands: A UX Designer’s Perspective</a></li>#}
                        {#<li><a href="#">Don’t Listen to Users and 4 Other Myths About Usability Testing</a></li>#}
                        {#<li><a href="#">Photoshop Express gets a UI update</a></li>#}
                    {#</ul>#}
                {#</div>#}
                {#<!-- Single Footer Widget -->#}
                {#<div class="col-md-3 single-footer-widget recent-work-widget wow animated fadeInUp"#}
                     {#data-wow-delay=".4s">#}
                    {#<h3 class="footer-title">Recent Works</h3>#}
                    {#<ul>#}
                        {#<li>#}
                            {#<div class="media">#}
                                {#<div class="media-left">#}
                                    {#<a href="#">#}
                                        {#<img src="{{ asset('images/work/footer-work1.png') }}" alt="">#}
                                    {#</a>#}
                                {#</div>#}
                                {#<div class="media-body">#}
                                    {#<a href=""><h4>Bower JS plugin release</h4></a>#}
                                    {#<span>September 20, 2016</span>#}
                                {#</div>#}
                            {#</div>#}
                        {#</li>#}
                        {#<li>#}
                            {#<div class="media">#}
                                {#<div class="media-left">#}
                                    {#<a href="#">#}
                                        {#<img src="{{ asset('images/work/footer-work2.png') }}" alt="">#}
                                    {#</a>#}
                                {#</div>#}
                                {#<div class="media-body">#}
                                    {#<a href=""><h4>Flat Icon collection</h4></a>#}
                                    {#<span>October 30, 2016</span>#}
                                {#</div>#}
                            {#</div>#}
                        {#</li>#}
                    {#</ul>#}
                {#</div>#}
                {#<!-- Single Footer Widget -->#}
                {#<div class="col-md-3 single-footer-widget footer-contact-widget wow animated fadeInUp"#}
                     {#data-wow-delay=".5s">#}
                    {#<h3 class="footer-title">Contact Us</h3>#}
                    {#<p><span>Phone:</span> 879-890-9767</p>#}
                    {#<p><span>Span:</span> support@mea.com</p>#}
                    {#<p><span>Twitter:</span> @mea</p>#}

                    {#<h3 class="footer-title mt-50">Follow Us</h3>#}
                    {#<ul>#}
                        {#<li>#}
                            {#<a href="#"><i class="fa fa-facebook"></i></a>#}
                        {#</li>#}
                        {#<li>#}
                            {#<a href="#"><i class="fa fa-twitter"></i></a>#}
                        {#</li>#}
                        {#<li>#}
                            {#<a href="#"><i class="fa fa-dribbble"></i></a>#}
                        {#</li>#}
                        {#<li>#}
                            {#<a href="#"><i class="fa fa-github"></i></a>#}
                        {#</li>#}
                        {#<li>#}
                            {#<a href="#"><i class="fa fa-linkedin"></i></a>#}
                        {#</li>#}
                    {#</ul>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
    <div class="footer-copyright-section">
        <div class="container">
            <div class="row">
                <!-- Copuyright -->
                <div class="col-md-6">
                    <p>&copy; 2016 <a target="_blank" href="#">Zemí</a>. {% trans %}copyright.message{% endtrans %}</p>
                </div>
                <!-- Footer Links -->
                <div class="col-md-6 footer-links">
                    <ul>
                        <li>
                            <a href="{{ path('homepage') }}"><i class="fa fa-home"></i> {{ 'menu.homepage'|trans }}</a>
                        </li>
                        <li>
                            <a href="{{ path('contact') }}"><i class="fa fa-envelope"></i> {{ 'menu.contact_us'|trans }}</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i>Share</a>
                        </li>
                        <li>
                            <a href="https://www.twitter.com"><i class="fa fa-twitter"></i>Tweet</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</footer>
<!-- Footer Section End -->