{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block headingTitle %}
    {{ 'account.log_in'|trans({}, 'messages') }}
{% endblock %}
{% block footer %}{% endblock %}

{% block fos_user_content %}
    <section id="login" class="container">
        <form class="form-signin" role="form" action="{{ path('fos_user_security_check') }}" method="POST">
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}
            <fieldset class="registration-form">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}">
                <input type="hidden" name="_target_path" value="{{ app.request.headers.get('referer') ?? url('homepage') }}" />
                <div class="form-group label-floating">
                    <label class="control-label" for="username">
                        <i class="material-icons">face</i> {{ 'security.login.username'|trans }}
                    </label>
                    <input type="text" id="username" name="_username" class="form-control" autofocus="autofocus" value="{{ last_username }}" required="required" />
                </div>
                <div class="form-group label-floating">
                    <label class="control-label" for="password">
                        <i class="material-icons">lock</i> {{ 'security.login.password'|trans }}
                    </label>
                    <input type="password" id="password" name="_password" class="form-control" required="required" />
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label for="remember_me">
                            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                            {{ 'security.login.remember_me'|trans }}
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" id="_submit" name="_submit" class="btn btn-common btn-md btn-block" value="{{ 'security.login.submit'|trans }}" />
                    <a class="btn btn-md btn-block btn-raised btn-default" href="{{ path('fos_user_registration_register') }}">
                        {{ 'account.sign_up'|trans({}, 'messages') }}
                    </a>
                </div>
            </fieldset>
        </form>
    </section><!--/#registration-->
{% endblock %}
