<section id="destinations" class="section-padding">
    <div class="container">
        <div class="row">
            <!-- Section Titile -->
            <div class="col-md-6 mea-title-section">
                <h1 class="section-titile-bg">{{ 'top_destinations.title'|trans }}</h1>
                <h1 class="section-title">{{ 'top_destinations.title'|trans }}</h1>
            </div>
            <!-- Section Quote -->
            <div class="col-md-6 mea-section-quote">
                <blockquote>
                    <p>{{ 'top_destinations.description'|trans }}</p>
                </blockquote>
            </div>
        </div>
        <div class="row mt-100">
            <div class="col-md-12">
                <div class="swiper-container">
                    <div class="swiper-wrapper swipe-gallery">
                        {% for destination in destinations %}
                            {% set destinationPath = path('destinationView', {'slug' : destination.slug}) %}
                            <div class="swiper-slide hostel-image single-team-widget">
                                <figure data-order="{{ loop.index - 1 }}" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                    <a href="{{ destinationPath }}" itemprop="contentUrl" data-size="270x270">
                                        {% if destination.thumbnailImage is not null %}
                                        <img src="{{ vich_uploader_asset(destination.thumbnailImage, 'imageFile')|imagine_filter('app_thumb') }}" itemprop="thumbnail" alt="{{ destination.name }}" />
                                        {% endif %}
                                    </a>
                                    <figcaption class="team-member-info" itemprop="caption description">
                                        <div class="know-more">
                                            <a class="btn btn-round btn-fab" href="{{ destinationPath }}">
                                                <i class="material-icons">arrow_forward</i>
                                                <div class="ripple-container"></div>
                                            </a>
                                        </div>
                                        <h2 class="subtitle">{{ destination.name }}</h2>
                                        {% set count = destinationRepo.activeHostelsCount(destination.slug) %}
                                        <p>{{ 'destination.amount.of.hostels'|transchoice(count, {'%count%': count }) }}</p>
                                    </figcaption>
                                </figure>
                            </div>
                        {% endfor %}
                    </div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>
    </div>
</section>