{% extends "base.html.twig" %}

{% block title %}
    {% trans %}contact.title{% endtrans %}
{% endblock %}

{% block headingTitle %}{{ 'contact.title'|trans }}{% endblock %}
{% block headingSubtitle %}{{ 'contact.subtitle'|trans }}{% endblock %}

{% block content %}
<section class="mea-contact-section section-padding">

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="contact-title wow animated slideInRight animated" data-wow-delay=".3s" style="visibility: visible;-webkit-animation-delay: .3s; -moz-animation-delay: .3s; animation-delay: .3s;">We’re always here to hear form you</h1>
                    </div>
                </div>
                <div class="row mt-50">
                    <!-- Section Titile -->
                    <div class="col-md-6 contact-widget-section">
                        <!-- Single Contact Widget -->
                        <div class="col-md-6 wow fadeInUp animated animated" data-wow-delay=".2s" style="visibility: visible;-webkit-animation-delay: .2s; -moz-animation-delay: .2s; animation-delay: .2s;">
                            <div class="single-contact-widget">
                                <i class="material-icons"></i>
                                <h3>Address</h3>
                                <address>
                                    <p>4435 Berkshire Circle</p>
                                    <p>Knoxville</p>
                                    <p>TN 27912</p>
                                </address>
                            </div>
                        </div>
                        <!-- Single Contact Widget -->
                        <div class="col-md-6 wow fadeInUp animated animated" data-wow-delay=".3s" style="visibility: visible;-webkit-animation-delay: .3s; -moz-animation-delay: .3s; animation-delay: .3s;">
                            <div class="single-contact-widget">
                                <i class="material-icons"></i>
                                <h3>Phone</h3>
                                <address>
                                    <p>+53-54-12-6878</p>
                                    <p>+53-41-99-4969</p>
                                </address>
                            </div>
                        </div>
                        <!-- Single Contact Widget -->
                        <div class="col-md-6 wow fadeInUp animated animated" data-wow-delay=".4s" style="visibility: visible;-webkit-animation-delay: .4s; -moz-animation-delay: .4s; animation-delay: .4s;">
                            <div class="single-contact-widget">
                                <i class="material-icons"></i>
                                <h3>Email</h3>
                                <address>
                                    <p>contact@caney.com</p>
                                    <p>support@caney.com</p>
                                </address>
                            </div>
                        </div>
                        <!-- Single Contact Widget -->
                        <div class="col-md-6 wow fadeInUp animated animated" data-wow-delay=".5s" style="visibility: visible;-webkit-animation-delay: .5s; -moz-animation-delay: .5s; animation-delay: .5s;">
                            <div class="single-contact-widget">
                                <i class="material-icons"></i>
                                <h3>Opening Hours</h3>
                                <address>
                                    <p>Mon - Fri: 8 AM - 3 PM</p>
                                    <p>Sat: 8 AM - 12 PM</p>
                                    <p>Sun: Closed</p>
                                </address>
                            </div>
                        </div>
                    </div>

                    <!-- contact form -->
                    <div class="col-md-5 col-md-offset-1 wow fadeInUp animated animated" data-wow-delay=".4s" style="visibility: visible;-webkit-animation-delay: .4s; -moz-animation-delay: .4s; animation-delay: .4s;">
                        {{ form_start(form, {'attr': {'class': 'shake', 'role': 'form', 'id': 'contactForm', 'name': 'contact-form' }}) }}
                            <!-- Name -->
                            <div class="form-group label-floating is-empty">
                                {{ form_label(form.name, 'form.fullName') }}
                                {{ form_widget(form.name) }}
                            </div>
                            <!-- email -->
                            <div class="form-group label-floating is-empty">
                                {{ form_label(form.email, 'form.email') }}
                                {{ form_widget(form.email) }}
                            </div>
                            <!-- Subject -->
                            <div class="form-group label-floating is-empty">
                              <label class="control-label" for="msgSubject">Subject</label>
                              <input class="form-control" id="msg_subject" name="subject" required="" data-error="Please enter your message subject" type="text">
                              <div class="help-block with-errors"></div>
                            </div>
                            <!-- Message -->
                            <div class="form-group label-floating is-empty">
                                {{ form_label(form.message, 'form.message') }}
                                {{ form_widget(form.message, {'attr': {'rows': '3' }}) }}
                            </div>
                            <!-- Form Submit -->
                            <div class="form-submit mt-20">
                                <button class="btn btn-common" type="submit" id="form-submit" style="pointer-events: all; cursor: pointer;">
                                    <i class="material-icons"></i> {{ 'button.send_message'|trans }}
                                </button>
                                <div id="msgSubmit" class="h3 text-center hidden"></div>
                                <div class="clearfix"></div>
                            </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>

        </section>
        <!-- Contact Us Section End -->
{% endblock %}