{% extends "base.html.twig" %}

{% block title %}
    {% trans %}hostel.register.title{% endtrans %}
{% endblock %}
{% block headingTitle%}{{ 'hostel.register.title'|trans }}{% endblock %}
{% block headingSubtitle%}{{ 'hostel.register.subtitle'|trans }}{% endblock %}
{% block breadcrumbs %}
    <li><a href="{{ path('homepage') }}">{% trans %}menu.homepage{% endtrans %}</a></li>
    <li class="active">{% trans %}menu.hostel.register{% endtrans %}</li>
{% endblock %}

{% block content %}
    <section id="hostel-registration-page">
        <div class="container">
            {{ form_start(form) }}
            {#{{ form_widget(form) }}#}
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    {{ form_row(form.hostelName) }}
                    {{ form_row(form.description) }}
                    {{ form_row(form.hostLanguages) }}
                    {{ form_row(form.location) }}
                    {{ form_row(form.address) }}
                    {{ form_row(form.website) }}
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    {{ form_row(form.services) }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <button type="submit" class="btn btn-raised btn-primary btn-lg">{% trans %}button.send{% endtrans %}</button>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </section><!--/#contact-page-->
{% endblock %}