{% extends "base.html.twig" %}

{% block title %}
    {{ hostel.hostelName }}
{% endblock %}

{% block headingTitle %}{{ hostel.hostelName }}{% endblock %}

{% block bodyPreamble %}
    {{ include('photo-swipe.html.twig') }}
{% endblock %}

{% block content %}
    <section id="contact-page">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    {% if is_granted('edit', hostel) %}
                        <a class="btn btn-common" href="{{ path('hostel_edit', {'slug': hostel.slug}) }}">
                            <i class="material-icons">edit</i> Edit
                        </a>
                    {% endif %}
                    <p style="margin-top:20px ">
                        {{ hostel.description[:800]|nl2br }}
                        {% if hostel.description|length > 800 %}
                            &hellip;
                        {% endif %}
                    </p>
                    <h4>
                        Capacity: {{ hostel.capacity }} people
                    </h4>
                    {% if hostel.offerType == 'WHOLE_HOUSE' %}
                        <h4>
                            Price: ${{ hostel.priceInLow }} / ${{ hostel.priceInHigh }} (For the whole house)
                        </h4>
                    {% endif %}
                    <h3>
                        <i class='material-icons'>place</i>
                        {% trans %}title.address{% endtrans %}
                    </h3>
                    <p>{{ hostel.address }}</p>
                    <h3>
                        <i class='material-icons'>hotel</i>
                        {% trans %}title.rooms{% endtrans %}
                    </h3>
                    <div class="panel-group mea-default-accordion" id="mea-accordion" role="tablist" aria-multiselectable="true">
                        {% for room in hostel.rooms %}
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="heading{{ loop.index }}">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#mea-accordion" href="#collapse{{ loop.index }}" aria-expanded="false" aria-controls="collapse{{ loop.index }}" class="collapsed">
                                        {{ room.name }}
                                        {% if hostel.offerType == 'WHOLE_HOUSE' %}
                                            ({% transchoice room.capacity with {'%capacity%': room.capacity} %}room.capacity.label{% endtranschoice %})
                                        {% else %}
                                            ({% transchoice room.capacity with {'%capacity%': room.capacity} %}room.capacity.label{% endtranschoice %}:
                                            ${{ room.priceInLow }} / ${{ room.priceInHigh }})
                                        {% endif %}
                                    </a>
                                </h4>
                                </div>
                                <div id="collapse{{ loop.index }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ loop.index }}" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body">
                                    <ul>
                                        {% for service in room.services %}
                                            <li>
                                                {{ service.icon|raw }}
                                                {{ service.name|capitalize }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>{#--/.col-sm-8--#}
                <div class="col-md-6 col-sm-12">
                    {% for serviceClass in serviceClasses %}
                        <h3>{{ serviceClass.name|capitalize }}</h3>
                        <ul>
                            {% set services = serviceRepo.findByClassification(hostel, serviceClass) %}
                            {% for service in services %}
                                <li>
                                    {{ service.icon|raw }}
                                    {{ service.name|capitalize }}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endfor %}
                    <h3>
                        <i class='material-icons'>translate</i>
                        {{ 'hostel.languages.title'|trans }} 
                        <small>{{ 'hostel.languages.subtitle'|trans }}</small>
                    </h3>
                    <p>{{ hostel.hostLanguages|split(' ')|locales|join(', ') }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    {{ include('hostel/image_slider.html.twig', {'images': hostel.images}) }}
                </div><!--/.col-sm-4-->
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <a class="btn btn-common" href="{{ path('booking', {'slug' : hostel.slug}) }}">
                        <i class="material-icons">event_note</i> {{ 'button.book'|trans }}
                    </a>
                </div>
            </div>
        </div>
    </section><!--/#contact-page-->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
    var swiper = new Swiper('.swiper-container', {
        slidesPerView: 'auto',
        paginationClickable: true,
        spaceBetween: 10,
        freeMode: true
    });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .page-title-section {
            position: relative;
            background: url("{{ vich_uploader_asset(hostel.frontImage, 'imageFile')|imagine_filter('app_slider') }}") no-repeat scroll center center;
            background-size: cover;
        }
        .single-team-widget .team-member-info {
            height: auto;
        }
    </style>
{% endblock %}